.header-af{
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 1rem;
    background-color: white;
}
.header-af > div{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
}
@media (max-width: 600px) {
    .hdr-logout-btn{
        display: none;
    }
}